<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DicingBlade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Validation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3.0.0" newVersion="15.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DicingBlade.Properties.Settings>
      <setting name="XVelLow" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="XVelHigh" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="XAcc" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="XDec" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="XPPU" serializeAs="String">
        <value>870</value>
      </setting>
      <setting name="XJerk" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="YVelHigh" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="YAcc" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YDec" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YPPU" serializeAs="String">
        <value>12800</value>
      </setting>
      <setting name="YJerk" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ZVelLow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ZVelHigh" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ZAcc" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ZDec" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ZPPU" serializeAs="String">
        <value>25600</value>
      </setting>
      <setting name="ZJerk" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UVelLow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UVelHigh" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UAcc" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="UDec" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="UPPU" serializeAs="String">
        <value>6400</value>
      </setting>
      <setting name="UJerk" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="XVelService" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YVelService" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZVelService" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UVelService" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YVelLow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="XObjective" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YObjective" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XDisk" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DiskShift" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZTouch" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZObjective" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CoolantSensorDsbl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpindleCoolantSensorDsbl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AirSensorDsbl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VacuumSensorDsbl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpindleCntrlDsbl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TechnologyLastFile" serializeAs="String">
        <value>D:/FirstTechnologyFile.json</value>
      </setting>
      <setting name="WaferLastFile" serializeAs="String">
        <value>D:/firstWafer.json</value>
      </setting>
      <setting name="XLoad" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YLoad" serializeAs="String">
        <value>60</value>
      </setting>
    </DicingBlade.Properties.Settings>
  </userSettings>
</configuration>
